
@{
    ViewData["Title"] = "ConnectToRoom";
}

<h1>Welcome to room</h1>

<h6 class="my-0 mr-md-auto font-weight-normal">User Name: @ViewData["user"]</h6>
<h6 class="my-0 mr-md-auto font-weight-normal">Room: @ViewData["room"]</h6>